@font-face {
    font-family: "Hello RainboW";
    src: url('/Hello\ Rainbow.otf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.left-side-bar{
    background: no-repeat center/100% url(/images/catbackground.jpg);
    height: 100vh;
    width: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.left-side-stuff  {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 2em;
    font-family: Hello Rainbow;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: inherit;
    top: 10vh;
    gap: 15px;
    padding-top: 15px;
}